html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* This is just to transition when you change the viewport size. */
* {
    transition: all 0.25s ease-out;
    font-family: sans-serif;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
  
}

/* Track */
::-webkit-scrollbar-track {
  
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  border-radius: 360px;
  box-shadow: inset 0 0 10px 10px #a97ef4;
  border: solid 2px transparent;
}


#PageContent{
  margin-top: 100vh;
}



body {
    background: #f2f4f8;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

/*--*/
.card {
    background: #f2f4f8;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.7s;
    border-radius: 15px;
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




















