#HomeView {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin-bottom: 10vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

#title {
    position: absolute;
    top: 35%;
    left: 7.5%;
    float: left;
    z-index: 1;
    color: #2c2c2cd5;
    font-size: 45px;
    font-family: sans-serif;
    line-height: normal;
}

.gradient {
    top: 25%;
    position: absolute;
    left: 50%;
    z-index: 3;
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#77e6d8, #a97ef4);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@media screen and (min-width: 1001px) {
    .gradient {
        --size: 500px;
    }
}



#codeContainer {
    top: 25%;
    position: absolute;
    left: 55%;
    z-index: 3;
}

#code {
    color: #e9e9e9;
    font-weight: lighter;
    font-size: medium;
}

@media screen and (max-width: 1000px) {
    .gradient {
        visibility: hidden;
    }

    #code {
        visibility: hidden;
    }
}

.bConnect {
    margin: 0;
    border-radius: 15px;
    float: right;

}