html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: #f2f4f8;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
}

/*Fix for mobile view width*/
@media (max-width: 661px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

/* This is just to transition when you change the viewport size. */
* {
  transition: all 0.25s ease-out;
  font-family: sans-serif;
}


.hideme {
  opacity: 0;
  transform: translateY(-20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.showme {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.hidemee {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {

  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {

  border-radius: 360px;
  box-shadow: inset 0 0 10px 10px #a97ef4;
  border: solid 2px transparent;
}

/*Style for mobile view*/
@media (max-width: 661px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    width: 0;
  }
}



.card {
  height: 50vh;
  width: 70%;
  max-width: 95%;
  margin: 0 auto 300px auto;
  text-align: center;
  padding: 2rem;
  line-height: 1.45;
  font-size: 16px;
  color: #2c2c2cd5;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
}

a[href] {
  color: #a97ef4;
  text-decoration: none;
}

/* unvisited link */
a[href]:link {
  color: #a97ef4;
  text-decoration: none;
}

/* visited link */
a[href]:visited {
  color: #a97ef4;
  text-decoration: none;
}

/* mouse over link */
a[href]:hover {
  color: #ba99f3d0;
  text-decoration: none;
}

/* selected link */
a[href]:active {
  color: #a97ef4;
  text-decoration: none;
}


/* Cursor */

#custom-cursor {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 0;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 500ms;
}

#custom-cursor::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: -8px;
  border: 1px solid white;
  width: 16px;
  height: 16px;
}

#custom-cursor.zoom {
  transform: scale(3);
}